<% provide(:title, "Home") %>
<h1 class="title">Web-Novels</h1>

<div class="main_page col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3 ">

<% for g in @games %>
  <div class="block block_game">
    <div class="image_block">
      <%= image_tag(g.image, class: "game_icon") %>
    </div>
    <h2 class="game_name"><%= g.name %></h2>

    <% if g.id != 2 %>

    <% if logged_in? && current_user.page_testplay!=0 %>
      <%= button_to "Продолжить", 'play/'+current_user.page_testplay.to_s, class: 'btn button button_game_start', method: :get %>
      <%= button_to "Начать заново", 'play/'+g.first_page_id.to_s, class: 'btn button button_game_start', method: :get,
                    data: { confirm: "Вы уверены?" }  %>
  <% else %>
      <%= button_to "Начать", 'play/'+g.first_page_id.to_s, class: 'btn button button_game_start', method: :get %>
        <p class="invisible_text">Я люблю тебя:)</p>
    <% end %>

    <% else %>
      <%= button_to "Скоро...", root_path, class: 'btn button button_game_start', method: :get %>
      <p class="invisible_text">Я люблю тебя:)</p>

  <% end %>

  </div>
<% end%>
</div>