<% provide(:title, "Log in") %>
<h1 class="title">Вход</h1>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4 input block block_info">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "Пароль" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Запомнить меня на этом компьютере</span>
      <% end %>

      <%= f.submit "Вход", class: "btn button" %>
    <% end %>
    <p style="margin-top: 5px">Новенький? <%= link_to "Зарегестрироваться сейчас!", signup_path %></p>
  </div>
</div>