<% provide(:title, "Game") %>
<div class="play_page col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 ">

<div class="img_page col-md-10 col-md-offset-1">
  <%= image_tag(message_image(@message), class: "test_style") %>
  <h3 id="value" class="message"><%= message_text(@message) %></h3>
<br />
<div class = "picks_all">
<% for p in @picks %>
  <a id="pick" href="<%=p.transmit.id %>">
  <div class="pick">
    <%= p.context %>
  </div>
  </a>
<% end%>
</div>

</div>
  <% if comment?(@message) %>
    <div class="comment"  onclick="show('comment', '')">
      <p id = "comment" class="comment_text"><%=comment_text(@message) %></p>
      <%= image_tag(comment_smile(@message), class: "comment_img") %>
    </div>
  <% end %>
</div>